.modal {
  position: absolute;
  top: 5%;
  left: 28%;
  transform: translate(-50%, -50%);
  width: 35rem;
  max-width: 90%;
  background: #242424;
  border: none;
  border-radius: 6px;
  outline: none;
  animation: slide-up-fade-in 0.4s ease-out forwards;
}

.modal::backdrop {
  background: #000000df;
}

@keyframes slide-up-fade-in {
  from {
    transform: translatey(30px);
    opacity: 0;
  }

  to {
    transform: translatey(0);
    opacity: 1;
  }
}