.button {
  background-color: var(--bg-color);
  color: var(--light-color);
  padding: 0.4rem;
  border: none;
  box-shadow: 2px 2px 5px var(--bg-shadow-color);
  cursor: pointer;
}

.button:hover {
  color: var(--brand-color);
  box-shadow: 2px 2px 5px var(--brand-shadow-color);
}
