.container {
  margin: 3rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  gap: 1.5rem;
  justify-content: center;
  list-style: none;
  position: relative;
}

.empty {
  text-align: center;
  margin-top: 10rem;
  text-shadow: 2px 2px 2px #824070a6;
}