.transducers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  list-style: none;
  max-height: 100vh;
  overflow: auto;
}

@media (max-width: 476px) {
  .transducers {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 1rem;
    padding: 1.6rem;
  }
}
