.form_container {
  margin: 1rem;
}

.title {
  color: #a6518ff1;
}

.field {
  margin-top: 0.75rem;
}

.field label {
  display: block;
  color: #ffebcd;
  font-weight: bolder;
}

.field input {
  width: 400px;
  padding: 0.30rem;
  border: none;
  border-bottom: 2px solid pink;
  background-color: #773f6828;
  color: #fff;
  font-size: large;
}

.switch_text {
  color: #a6518ff1;
  font-size: small;
  margin-top: 0.1rem;
}

.switch_text > span{
  color: cyan;
}

.switch_text > span:hover {
  cursor: pointer;
  color: violet;
}

.form_actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}