.title {
  align-self: flex-start;
  color: var(--brand-color);
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

.field {
  margin-bottom: 0.8rem;
}

.field label {
  display: block;
  color: var(--brand-color);
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.field input {
  width: 400px;
  padding: 0.2rem;
  border: none;
  border-bottom: 2px solid var(--bg-color);
  background-color: var(--form-input-color);
  color: var(--light-color);
  font-size: 1.2rem;
}

.field input:focus-visible {
  outline: none;
}

.switch_text {
  color: var(--bg-color);
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}

.switch_text > span {
  color: var(--light-color);
}

.switch_text > span:hover {
  cursor: pointer;
  color: var(--alert-color);
}

.form_actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.error {
  color: var(--alert-color);
}
