.container {
  display: flex;
  justify-content: center;
}

.text {
  margin-top: 10rem;
  text-align: center;
  font-size: 1rem;
  color: var(--light-color);
}

.problem {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--alert-color);
}

.message {
  font-size: 1.8rem;
}
