.container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.text {
  text-align: center;
  font-weight: bold;
}

.text h2 {
  color: orangered;
}

.message {
  font-size: x-large;
}
