.header {
  background-color: #824070;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  padding: 1rem;
  color: #fff;
}

.button {
  padding: 0.6rem;
  width: 70px;
  margin-right: 1rem;
}