.container {
  display: flex;
  gap: 0.8rem;
  max-width: 400px;
  margin: 1.4rem auto;
  padding: 0.8rem;
  background-color: #1f2937;
}

.search {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: #e5e7eb;
  border: none;
  outline: none;
}

.icon {
  fill: #db2777;
  width: 18px;
  height: 18px;
}
