.container {
  display: flex;
  gap: 10px;
  width: 400px;
  margin: 1rem auto;
  padding: 0.60rem;
  border-radius: 6px;
  box-shadow: 10px 5px 5px #824070a6;
  background-color: #3c3b3b43;
}

.search {
  width: 100%;
  font-size: large;
  background-color: transparent;
  border: none;
  outline: none;
}




