.condition_container {
  margin: 0.4rem;
}

.info {
  color: var(--light-color);
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.info span {
  color: var(--brand-color);
  font-weight: 700;
  margin-right: 0.2rem;
}

.line {
  color: var(--bg-color);
}
